Options All -Indexes
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^inicio$ index.php
RewriteRule ^registro$ RegistroUser.php [L]
RewriteRule ^inicio-session$ databases/login.php [L]
RewriteRule ^cerrar-session$ databases/cerrarsesion.php [L]
RewriteRule ^registro-usuario$ databases/RegistroUsuario.php [L]
RewriteRule ^consulta-clientes$ databases/consultaclientes.php [L]
RewriteRule ^consulta-cliente$ databases/consultacliente.php [L]
RewriteRule ^consulta-solicitud$ databases/consultasolicitud.php [L]
RewriteRule ^gerente-consulta-solicitud$ databases/gerenteconsultasolicitud.php [L]
RewriteRule ^insertar-cliente$ databases/insertarcliente.php [L]
RewriteRule ^insertar-solicitud$ databases/insertarsolicitud.php [L]
RewriteRule ^gerente-aprobar-solicitud$ databases/aprobarcortesiagerente.php [L]

RewriteRule ^asesor$ asesorc/index.php [L]
RewriteRule ^solicitud-cortesia$ asesorc/solicitud.php [L]
RewriteRule ^formulario-cortesia-([A-Za-z0-9\.]+)?$ asesorc/formsolicitd.php?referencia=$1 

RewriteRule ^gerente$ gerentec/index.php [L]
RewriteRule ^direccion$ direccionc/index.php [L]
RewriteRule ^area-de-ti$ area_de_tic/index.php [L]
